* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    font-family: "Poppins", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: normal;
}

/* Common */
.main_content {
    width: 1170px;
    max-width: calc(100vw - 48px);
    margin: 0 auto;
}

.btn {
    height: 68px;
    border-radius: 14px;
    background: #1ebfc1;
    color: #fff;
    text-align: center;
    font-size: 1.8rem;
    border: transparent;
    font-weight: 600;
    cursor: pointer;
    font-family: "Poppins", sans-serif;
}

.btn:hover {
    opacity: 0.5;
}

a {
    text-decoration: none;
}

.label {
    color: #767e7e;
    font-size: 1.2rem;
    font-weight: 700;
}

.heading {
    color: #0d1111;
    font-size: 4.2rem;
    font-weight: 700;
}

.row {
    display: flex;
    align-items: center;
}

.logo {
    width: 127px;
    height: 37px;
    object-fit: cover;
}

/* Header */
.header {
    background: #ffffff;
    padding: 52px 0 10px;
}

.header.fixed--header {
    position: sticky;
    top: -42px;
    z-index: 1;
}

.header__nav {
    display: flex;
    align-items: center;
}

.nav__list {
    display: flex;
    gap: 39px;
    margin-left: auto;
    margin-right: 153px;
}

.nav__link {
    color: #2f3a3b;
    font-size: 1.6rem;
}

.nav__link:hover,
.nav__item--active .nav__link {
    text-shadow: 1px 0 #2f3a3b;
}

.header__cta-group {
    display: flex;
}

.header .btn {
    height: 48px;
    border-radius: 6px;
    background: #ffffff;
}

.btn--sign-in {
    color: #494949;
    text-align: center;
    padding: 0 24px;
    font-size: 1.6rem;
    line-height: 48px;
    font-weight: 400;
}

.btn--sign-up {
    min-width: 108px;
    border: 1px solid #1ebfc1;
    color: #1ebfc1;
    font-size: 1.6rem;
    /* font-family: "Poppins", sans-serif; */
}

/* Hero */
.hero {
    margin: 40px 0 0;
    padding-bottom: 79px;
}

.hero__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.hero__info {
    flex-basis: 41%;
    display: flex;
    flex-direction: column;
}

.hero__label {
    font-size: 1.4rem;
}

.hero .heading {
    margin-top: 18px;
    font-size: 6.2rem;
    line-height: 7.2rem; /* 116.129% */
}

.hero__desc {
    width: 374px;
    margin-top: 46px;
    color: #9da6a5;
    font-size: 1.8rem;
    line-height: 3.2rem; /* 177.778% */
}

.hero__desc span {
    white-space: nowrap;
}

.hero__cta-group {
    display: flex;
    align-items: center;
    margin-top: 52px;
    gap: 50px;
}

.hero .btn--get-started {
    min-width: 186px;
}

.hero__watch-video {
    width: 62px;
    height: 62px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.07);
    cursor: pointer;
}

.hero__media {
    flex-basis: 49%;
    position: relative;
    display: flex;
}

.hero__thumb {
    width: 100%;
    height: 631px;
    object-fit: cover;
}

.hero__course-quantity {
    display: flex;
    align-items: center;
    position: absolute;
    border-radius: 18px;
    background: #fefefd;
    padding: 17px 25px;
    box-shadow: 0px 10px 80px 0px rgba(0, 0, 0, 0.05);
    top: 149px;
    left: -40px;
}

.hero__course-icon {
    width: 36px;
    height: 40px;
    position: relative;
    margin-right: 16px;
}

.hero__course-quantity .hero__line {
    position: absolute;
    width: calc(100% - 8px);
    height: 3px;
    bottom: 8px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 18px;
    background: #fff;
    box-shadow: 0px 10px 80px 0px rgba(0, 0, 0, 0.05);
}

.hero__quantity {
    width: 55px;
    color: #0d1111;
    font-size: 1rem;
    font-weight: 500;
}

.hero__schedule {
    padding: 16px 25px 23px;
    border-radius: 24px;
    background: #fff;
    box-shadow: 0px 10px 80px 0px rgba(0, 0, 0, 0.05);
    position: absolute;
    bottom: 46px;
    left: 0;
    transform: translateX(-50%);
}

.hero__schedule-title {
    color: #0d1111;
    font-size: 1rem;
    font-weight: 500;
}

.hero__icons {
    display: flex;
    flex-direction: column;
}

.hero__schedule .hero__icon {
    height: 6px;
    margin-top: 16px;
}

.hero__students {
    padding: 17px 35px;
    border-radius: 24px;
    background: #fefefd;
    position: absolute;
    bottom: 41px;
    right: 45px;
}

.hero__students-title {
    color: #0d1111;
    font-size: 1rem;
    font-weight: 500;
}

.hero__avatars {
    display: flex;
    margin-top: 8px;
}

.hero__avatar {
    width: 33px;
    height: 33px;
    border-radius: 50%;
    object-fit: cover;
}

.hero__avatar + .hero__avatar {
    margin-left: -7px;
}

.hero__avatar-default {
    background-color: #1ebfc1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero__students-count {
    color: #fff;
    text-align: center;
    font-size: 1rem;
    font-weight: 500;
}

/* Features */
.features {
    margin: 130px 0;
    scroll-margin: 130px;
}

.features__content {
    width: 1024px;
}

.features .heading {
    width: 577px;
    margin: 18px 0;
}

.features__desc {
    width: 590px;
    color: #767e7e;
    font-size: 1.8rem;
}

.features__list {
    margin-top: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.features__card__icon {
    width: 102px;
    height: 106px;
}

.feature__card__title {
    margin-top: 26px;
    color: #0d1111;
    font-size: 2rem;
    font-weight: 600;
}

.feature__card__desc {
    width: 224px;
    margin-top: 16px;
    color: #9da6a5;
    font-size: 1.6rem;
    line-height: 2.7rem; /* 168.75% */
}

/* Courses */

.courses {
    scroll-margin: 130px;
}

.courses .heading {
    margin-top: 18px;
}

.courses__row--desc {
    margin-top: 19px;
    justify-content: space-between;
}

.courses__desc {
    width: 525px;
    color: #767e7e;
    font-size: 18px;
    line-height: 32px; /* 177.778% */
}

.courses__view-all {
    color: #1ebfc1;
    font-size: 14px;
    font-weight: 700;
    text-decoration-line: underline;
}

.courses__list {
    margin-top: 79px;
    display: flex;
    column-gap: 47px;
}

.courses__link {
    flex-basis: calc(100% / 3);
}

.courses__card {
    position: relative;
}

.courses__card:hover .courses__image {
    opacity: 0.35;
}

.courses__image {
    width: 100%;
    height: 393px;
    object-fit: cover;
    border-radius: 8px;
    background: #d0efed;
}

.courses__info {
    width: 325px;
    padding: 18px 25px 29px;
    position: absolute;
    border-radius: 8px;
    background: #fff;
    top: 322px;
    left: 50%;
    transform: translateX(-50%);
    box-shadow: 0px 16px 90px 0px rgba(0, 0, 0, 0.05);
}

.courses__name {
    color: #0d1111;
    font-size: 2.2rem;
    font-weight: 700;
}

.courses__fee {
    margin-top: 16px;
    color: #767e7e;
    font-size: 1.6rem;
}

.courses__fee--highlight {
    color: #0d1111;
    font-size: 2.2rem;
    font-weight: 700;
}

.courses__card-desc {
    margin-top: 6px;
    color: #9da6a5;
    font-size: 1.4rem;
}

.courses__info-item {
    display: flex;
    align-items: center;
    gap: 10px;
}

.courses__row--info-meta {
    margin-top: 18px;
    gap: 10px;
    color: #9da6a5;
    font-size: 1.4rem;
}

.courses__dot {
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: #1ebfc1;
}

/* Statistical */
.statistical {
    margin-top: 389px;
}

.statistical__body {
    display: flex;
    justify-content: center;
    gap: 202px;
}

.statistical__data {
    width: 100%;
    color: #0d1111;
    font-size: 6.2rem;
    font-weight: 700;
}

.statistical__label {
    margin-top: 11px;
    color: #767e7e;
    text-align: center;
    font-size: 1.8rem;
}

/* Feedbacks */
.feedback {
    margin: 264px 0 130px;
}

.feedback__body {
    display: flex;
    align-items: center;
    height: 481px;
}

.feedback__info {
    flex-basis: 36%;
}

.feedback__img-quotes {
    width: 36px;
    height: 29px;
}

.feedback__quote {
    margin-top: 27px;
    color: #5d6564;
    font-size: 3.2rem;
    line-height: 4.8rem; /* 150% */
}

.feedback__author {
    display: inline-block;
    position: relative;
    margin-top: 33px;
    color: #767e7e;
    font-size: 1.6rem;
    padding-left: 13px;
}

.feedback__author::before {
    width: 8px;
    height: 2px;
    content: "";
    display: inline-block;
    background: #070707;
    position: absolute;
    left: 0;
    top: 50%;
}

.feedback__author-name--highlight {
    color: #070707;
    font-size: 1.6rem;
    font-weight: 500;
}

.feedback__avatars {
    height: 100%;
    flex-basis: 64%;
    display: inline-block;
    object-fit: contain;
}

.feedback__cta-group {
    margin-top: 52px;
    display: flex;
    gap: 30px;
}

.feedback__nav-button {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #2ac9bf;
    border-radius: 50%;
}

.feedback__nav-icon {
    color: #ffffff;
}

/* Explore */
.explore {
    background: #def6f5;
}

.explore__body {
    padding: 76px 0 88px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.explore__title {
    color: #070707;
    font-size: 4.2rem;
    font-weight: 700;
}

.explore__desc {
    color: #767e7e;
    font-size: 1.8rem;
    margin-top: 18px;
}

.explore__btn--get-started {
    padding: 20px 41px;
    margin-right: 154px;
}

/* Footer */

.footer__body {
    padding: 130px 0 50px;
}

.footer--row {
    align-items: start;
    justify-content: space-between;
}

.footer__title {
    color: #2e2e2e;
    font-size: 1.8rem;
    font-weight: 500;
    margin-bottom: 25px;
}

.footer__item-link {
    display: inline-block;
    color: #535353;
    font-size: 1.6rem;
}

.footer__item {
    margin-top: 18px;
}

.footer__item--social {
    display: flex;
    align-items: center;
    gap: 9px;
}

.footer__logo--social {
    width: 20px;
    height: 20px;
}

.footer__copy-right {
    margin-top: 80px;
    color: #b0b5b4;
    text-align: center;
    font-size: 1.8rem;
}
